.root {
    -fx-background-color: rgba(0, 106, 255, 0.15);
}

.button {
    -fx-background-color: #00ccff;
}

#b1 {
    -fx-background-image: url("youtube.jpg");
}

#b2 {
    -fx-background-image: url("google.jpg");
}

#b3 {
    -fx-background-image: url("coingecko.png");
}